<div>
  <%= flash[:notice] %>
</div>

<h2>Title:</h2>
<p><%= @book.title %></p>

<h2>Body:</h2>
<p><%= @book.body %></p>


<span>
  <%= link_to 'Edit', controller: 'books', action: 'edit' %>
</span>


<span>
  <%= link_to 'Back', controller: 'books', action: 'index' %>
</span>

